<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Locations</h1>
    <%# <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <%= image_tag( "cthub2.jpg", class: "card-img-top", alt: "Crown Coffee at CT Hub 2")%>
        <div class="card-body">
          <div class="card-title">
            <h2>CT Hub 2</h2>
          </div>
          <p class="card-text">Address:<br>114, Lavender St, #01-22<br>Singapore 338729</p>
          <p class="card-text open-hr"><u>Opening hours:-</u><br>
          Mon - Friday: 8 am - 6 pm<br>
          Sat: 10 am - 4 pm<br>
          Sun: <strong>Closed</strong></p>
        </div>      
      </div>
    </div>
    <div class="col-md-6">
     <div class="card">
        <%= image_tag( "dhl.jpg", class: "card-img-top", alt: "Crown Coffee at DHL")%>
        <div class="card-body">
          <div class="card-title">
            <h2>DHL </h2>
          </div>
          <p class="card-text">Address:<br>1 Greenwich Drive<br>Singapore 533865</p>
          <p class="card-text open-hr"><u>Opening hours:-</u><br>
          Mon - Friday: 8 am - 6 pm<br>
          Sat: 10 am - 4 pm<br>
          Sun: <strong>Closed</strong></p>
        </div>      
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <%= image_tag( "nus.jpg", class: "card-img-top", alt: "Crown Coffee at NUS Innovate 4.0 Building")%>
        <div class="card-body">
          <div class="card-title">
            <h2>NUS Innovate 4.0 Building</h2>
          </div>
          <p class="card-text">Address:<br>No. 3 Research Link, Innovate 4.0 Building<br>Singapore 117602</p>
          <p class="card-text open-hr"><u>Opening hours:-</u><br>
          Mon - Friday: 8 am - 6 pm<br>
          Sat: 10 am - 4 pm<br>
          Sun: <strong>Closed</strong></p>
        </div>      
      </div>
    </div>
    <div class="col-md-6">
     <div class="card">
        <%= image_tag( "sit.jpg", class: "card-img-top", alt: "Crown Coffee at SIT @ Dover")%>
        <div class="card-body">
          <div class="card-title">
            <h2>SIT @ Dover</h2>
          </div>
          <p class="card-text">Address:<br>20 Dover Drive, #01-01, Transform Building<br>Singapore 138682</p>
          <p class="card-text open-hr"><u>Opening hours:-</u><br>
          Mon - Friday: 8 am - 6 pm<br>
          Sat: 10 am - 4 pm<br>
          Sun: <strong>Closed</strong></p>
        </div>      
      </div>
    </div>
  </div>
</div>
<div class="section-seperator"></div>