<div id="carosel-generic" class="carousel slide carousel-fade" data-ride="carousel">

          <div class="container">
                    <%# Indicators %>
                    <ol class="carousel-indicators">
                              <li data-target="#carousel-generic" data-slide-to="0" class="item1 active"></li>
                              <li data-target="#carousel-generic" data-slide-to="1" class="item2"></li>
                    </ol>
          </div>

          <%# Wrapper for slides %>
          <div class="carousel-inner" role="listbox">
                    <div class="item active">
                              <%= image_tag( "home.jpg", class: "img-responsive img", alt: "Crown Coffee Slider Image")%>
                              <div class="container-fluid">
                                        <div class="carousel-centered">
                                                  <div class="margin-b-40">
                                                            <h1 class="carousel-title"> Welcome</h1>
                                                            <p>Classic Italian Coffee from Rome and Gourmet Sandwiches</p>
                                                  </div>
                                                  <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Gallery</a>
                                        </div>
                              </div>
                    </div>

                    <%# <div class="item">
                              <%= image_tag( "home.jpg", class: "img-responsive", alt: "Crown Coffee Slider Image")%>
                              <%# <div class="container">
                                        <div class="carousel-centered">
                                                  <div class="margin-b-40">
                                                            <h2 class="carousel-title">Welcome</h2>
                                                  </div>
                                                  <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Gallery</a>                                                  
                                        </div>
                              </div>                              
                    </div> %>
          </div>

          <%# Left & Right Controls %>
          <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
          </a>

<%# <%= link_to 'Products index page', controller: 'products' %>
<%# <%= link_to 'Sign In/Up', new_user_session_path%>
</div>