html {
    overflow-x: hidden;
}

html,
html a,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $background-color;
    font-family: $font-family-base;
}

p {
    @include font($size: 1.5rem, $weight: 400, $family: $font-family-base);
    color: $color-white;
    line-height: 1.4;
    margin-bottom: 15px;
}

em,
li,
li a {
    @include font($size: 1.3rem, $weight: 500, $family: $font-family-base);
    color: $color-link;
}

.navbar-default {
    background-color: $background-color;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-dark {
    color: $color-base !important;
}

.btn-primary {
    background-color: $color-heading;
    border-color: $color-heading;
    border-radius: 0px;
    color: $color-white;
    @include font($size: 1.3rem);
}

a {
    @include font($size: 1.3rem, $family: $font-family-base);
    color: $color-link;
    outline: 0;
    &:focus,
    &:hover,
    &:active {
        outline: 0;
        color: $color-link-hover;
        text-decoration: none;
    }
}

.link {
    position: relative;
    @include font($size: 13px, $weight: 600, $family: $font-family-base);
    text-transform: uppercase;
    &:after {
        @include position(absolute, $top: 8px, $right: -15px);
        @include size(9px, 2px);
        background: $color-base;
        content: " ";
    }
}

span {
    @include font($size: 14px, $weight: 400, $family: $font-family-base);
    color: #bfc1c7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font($weight: 700, $family: $font-family-base);
    color: $color-base;
    line-height: 1.4;
    margin: 0 0 15px;
    >a {
        color: $color-heading;
        &:hover {
            color: $color-link-hover;
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
}

h1 {
    @include font($size: 40px);
}

h2 {
    @include font($size: 2rem);
}

h3 {
    @include font($size: 22px);
}

h4 {
    @include font($size: 22px);
}

::selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}

::-webkit-selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}

::-moz-selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}

:active,
:focus {
    outline: none;
}

.two-col {
    @include bg-opacity($color-heading, .5);
    align-items: center;
}

.left-img {
    @include size(100%);
}

.right-col {
    padding-left: 15rem;
    color: $color-white;
    .field {
        @include margin($top: 1rem, $bottom: 1rem);
        label {
            @include font($size: 1.4rem);
        }
    }
    em {
        color: $color-white;
    }
    .btn {
        @include margin($top: 1.25rem, $bottom: 1.25rem);
    }
    .form-control {
        @include size(70%, 40px);
        @include font($size: 15px);
        @include border-radius(10px);
        padding: 15px;
    }
}


/* Section Seperator */

.section-seperator {
    border-bottom: 0.5px solid $color-base;
}


/* Content Wrapper Link */

.content-wrapper-link {
    @include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
    display: block;
    z-index: 3;
    text-decoration: none;
}