// ======================
// Navbar
// ======================
// .container {
//     justify-content: space-between;
// }
.logo-img {
    display: inline-block;
    @include size(100%);
    max-width: 7rem;
    max-height: 7rem;
    vertical-align: middle;
    @include cubic-transition($delay: 0, $duration: 400ms, $property: (all));
    align-self: flex-start;
}

.navbar-dark,
.navbar-nav,
.nav-link {
    color: $color-base !important;
}

.navbar-dark .navbar-toggler {
    color: $color-base !important;
    border-color: $color-base !important;
}