// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#orderTable {
      background-color: white;
      padding: 0;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 5px 10px #888888;
}