// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-centered {
    @include bg-opacity($color-heading, .5);
    text-align: right;
    right: 10rem;
    padding: 1rem;
}

.carousel,
.item,
.active {
    height: 86vh;
    // margin-bottom: 60px;
}

// .carousel-inner {
//     height: 100%;
// }
.fill {
    @include size(100%, 100%);
}